%h1= t('official_recommended_picks')
%section
  %ul
    - @pick_names.each do |pick_name|
      %li= link_to t(pick_name.canonical_name.underscore, scope: 'picks.recommended', default: pick_name.name), pick_path(pick_name.pick_id)

%h1= t('picks_by_others')
.timeline
  %a(class="twitter-timeline" href="https://twitter.com/search?q=dominion-cards.herokuapp.com" data-widget-id="256234896626950145")
    = t('picks_by_others')
